@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
@plugin "daisyui";

* {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

body {
  @apply bg-green-50
}

.btn-primary {
  @apply btn bg-green-500 text-white border-0 outline-0 
}

.btn-primary:hover {
  @apply bg-green-500
}