@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
@plugin "daisyui";

* {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

body {
  @apply bg-green-50
}

li>a {
  @apply text-base font-medium
}

li>a:hover {
  @apply bg-transparent text-green-600
}

.btn-primary {
  @apply bg-green-600 text-white px-4 py-2 rounded hover:bg-green-700 transition cursor-pointer border-0 outline-0
}

.btn-primary:hover {
  @apply bg-green-500
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
}

.swiper-pagination-bullet {
 background-color: #00a63e !important;
}